<hr>
<div action="" class="form-inline">
  <div class="form-group mb-2">
     <input type="text" class="form-control mb-2" placeholder="buscar..." [(ngModel)]="listFilter">
  </div>
</div>
<h3>Filtro: {{listFilter}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Ordem</th>
      <th>
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="ModifyStateImg()">
          {{showImg ? 'Ocultar': ' Mostrar'}}
      </button>
    </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Quantidade de Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let evento of filteredEvents">
      <td>{{evento.eventoId}}</td>
      <td>
        <img [collapse]="!showImg" [isAnimated]="true"
        src="/assets/{{evento.imagemURL}}"
        [style.width.px]="widthImg"
        [style.margin.px]="marginImg"
        [style.borderRadius.px]="borderImg"
        alt="{{evento.imagemURL}}">
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.quantidadePessoas}}</td>
      <td>{{evento.lotes}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="eventos && !eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum Evento Encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
